* {
    margin: 0;
    padding: 0;
}

html, 
body {
    height: 100%;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: white;
    overflow-x: hidden;
}

.nav-header {
    color: white;
    font-size: 25px;
}

#landing {
    width: 100%;
    height: 100vh;
    background: url("img/HeroSectionBG.png") no-repeat center top;
    background-size: cover;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 101;
    transition: 1s;
}

nav ul {
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

.black {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 50px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.menu-icon {
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    display: none;
}

.logo img {
    height: 150px;
    position: fixed;
    float: left;
}

/* .landing-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: center;
}

.new-single {
    grid-column-start: 4; 
    min-width:25%;
}

.new-single img {
    max-width: 200px;
    min-height: 200px;
}

.new-single h1 {
    font-family: Montserrat;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin-bottom: 20px;
} */

#bio {
    height: 100vh;
    width: 100vw;
    background: url("img/BioSectionBG.jpg") no-repeat center top;
    background-size: cover;
}

.bio-text {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 50vw;
    font-size: 35px;
}

.bio-text p {
    /* padding-top: 15%; */
    line-height: 1.5;
    padding: 50px;
}

#music {
    height: 100vh;
    background: url("img/AlbumCover_lrg.jpg") no-repeat center 75% fixed;
    background-size: cover;
}

.video-feature {
    height: 100%;
    display: grid;
}

.resp-wrapper {
    margin: auto;
}


#tour {
    height: 100vh;
    background: black;
    position: relative;
}

.tour-header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 40%;
    background: black;
}

.top-img img {
    width: 100%;
    z-index: 100;
}

.tour-dates {
    display: grid;
    
}

.dates {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
    justify-content: center;
    justify-items: center;
    grid-gap: 35px 0;
    font-size: 30px;
}

.dates ul li {
    list-style: none;
}

.dates ul:nth-child(1) {
    margin-right: 42px;
}

.dates li span:nth-child(1) {
    display: inline-block;
    width: 75px;
}

.dates li span:nth-child(2) {
    color: rgb(161, 21, 3);
}

.city {
    font-weight: 700;
    text-align: right;
}

footer {
    height: 100px;
    overflow: hidden;
    background: blue;
}

/* Media Queries */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1024px) and (max-width: 1280px) {
    .bio-text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 85%;
        font-size: 30px;
    }

    .top-img img {
        position: relative;
        right: 325px;
        width: 170%;
    }

    .tour-header img {
        width: 75%;
    }

    .dates ul:nth-child(3) {
        grid-column: span 2;
    }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1023px) {

    .logo {
        position: fixed;
        top: 0;
        background: white;
    }

    .logo img {
        height: 75px;
        right: 40%;
        text-align:right;
    }

    nav ul {
        max-height: 0;
        background: #000;
    }

    nav.black {
        background: #000;
    }

    .showing {
        max-height: 20em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }


    #bio {
        height: 100vh;
        background: url("img/BioSectionBG.jpg") no-repeat -800px;
        background-size: cover;
    }

    .bio-text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 85%;
        font-size: 30px;
    }

    .bio-text p {
        background: rgba(0, 0, 0, .25);
        padding: 5px 15px 5px 15px;
    }

    .top-img img {
        position: relative;
        right: 270px;
        width: 170%;
    }

    .tour-header img {
        width: 70%;
    }

    .tour-dates {
        position: relative;
        right: 30px;
    }

    .dates ul:nth-child(3) {
        grid-column: span 2;
    }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .logo {
        position: fixed;
        top: 0;
        background: white;
    }

    .logo img {
        height: 75px;
        right: 30%;
        text-align:right;
    }

    nav ul {
        max-height: 0;
        background: #000;
    }

    nav.black {
        background: #000;
    }

    .showing {
        max-height: 20em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    #bio {
        background: url("img/BioSectionBG.jpg") no-repeat -600px;
    }
    .bio-text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 75%;
        font-size: 22px;
    }
    .bio-text p {
        background: rgba(0, 0, 0, .25);
        padding: 5px 15px 5px 15px;
    }
    .tour-header img {
        width: 75%;
    }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

    body {
        font-size: .5rem;
    }

    .logo {
        position: fixed;
        top: 0;
        background: white;
    }

    .logo img {
        height: 75px;
        right: 30%;
        text-align:right;
    }

    nav ul {
        max-height: 0;
        background: #000;
    }

    nav.black {
        background: #000;
    }

    .showing {
        max-height: 20em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }


    #bio {
        background: url("img/BioSectionBG.jpg") no-repeat -800px;
    }
    .bio-text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        font-size: 30px;
    }
    .bio-text p {
        background: rgba(0, 0, 0, .25);
        padding: 5px 15px 5px 15px;
    }
    .tour-header img {
        width: 75%;
    }
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {

    .logo {
        position: fixed;
        top: 0;
        background: white;
    }

    .logo img {
        height: 75px;
        right: 30%;
        text-align:right;
    }

    nav ul {
        max-height: 0;
        background: #000;
    }

    nav.black {
        background: #000;
    }

    .showing {
        max-height: 20em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }


    #bio {
        background: url("img/BioSectionBG.jpg") no-repeat -800px;
    }
    .bio-text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        font-size: 18px;
    }
    .bio-text p {
        background: rgba(0, 0, 0, .25);
        padding: 5px 15px 5px 15px;
    }

    .dates {
        justify-items: start;
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {

    .logo {
        position: fixed;
        top: 0;
        background: white;
    }

    .logo img {
        height: 75px;
        right: 30%;
        text-align:right;
    }

    nav ul {
        max-height: 0;
        background: #000;
    }

    nav.black {
        background: #000;
    }

    .showing {
        max-height: 20em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    #bio {
        background: url("img/BioSectionBG.jpg") no-repeat -675px;
    }
    .bio-text {
        font-size: 18px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .logo {
        position: fixed;
        top: 0;
        background: white;
    }

    .logo img {
        height: 75px;
        right: 30%;
        text-align:right;
    }

    nav ul {
        max-height: 0;
        background: #000;
    }

    nav.black {
        background: #000;
    }

    .showing {
        max-height: 20em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
    
    #bio {
        background: url("img/BioSectionBG.jpg") no-repeat -1050px;
    }

    .bio-text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        font-size: 20px;
    }

    .bio-text p {
        background: rgba(0, 0, 0, .25);
        padding: 5px 15px 5px 15px;
        font-size: 1rem;
    }

    #tour {
        height: 600px;
    }

    .top-img img {
        position: relative;
        right: 100px;
        width: 150%;
    }

    .tour-header img {
        width: 90%;
        margin-bottom: 1em;
    }

    .dates {
        grid-gap: 10px 0;
        font-size: 1rem;
    }

    .dates ul:nth-child(1) {
        margin-right: 30px;
    }
}