* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: white;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

.nav-header {
  color: white;
  font-size: 25px;
}

#landing {
  width: 100%;
  height: 100vh;
  background: url('img/HeroSectionBG.png') no-repeat center top fixed;
  background-size: cover;
}

.headline {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.headline h1 {
  text-shadow: 2px 2px 12px rgb(46, 45, 45);
  text-align: center;
}

.headline h1:after {
  content: '';
  display: block;
  margin: 20px auto;
  width: 75%;
  border-bottom: 1px solid #fff;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 101;
  transition: 1s;
}

nav ul {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

.black {
  background: rgba(0, 0, 0, 0.8);
}

nav ul li {
  display: inline-block;
  padding: 50px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.menu-icon {
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  display: none;
}

.logo img {
  height: 125px;
  position: fixed;
  float: left;
}

#bio {
  width: 100vw;
  height: calc(100vh - 6rem);
  background: url('img/BioSectionBG.jpg') no-repeat center top;
  background-size: cover;
}

.bio-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 55px;
  width: 58vw;
  height: 100%;
  font-size: 20px;
}

.bio-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  padding: 0 70px;
}

.bio-text h1:after {
  content: '';
  display: block;
  margin: 20px auto;
  width: 75%;
  border-bottom: 1px solid #fff;
}

.bio-text p {
  /* padding-top: 15%; */
  line-height: 1.5;
  padding: 30px 70px;
}

#music {
  display: block;
  position: relative;
  background: url('img/AlbumCover_lrg.jpg') no-repeat center 75% fixed;
  background-size: cover;
  padding: 100px 0;
}

#music::after {
  content: '';
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.videos-container {
  display: block;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  z-index: 10;
}

.video-feature {
  display: grid;
  padding: 50px 25px 0;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

#music h1 {
  grid-column-start: span 2;
  font-family: 'Montserrat', sans-serif;
  width: 300px;
  margin: 0 auto;
  font-size: 70px;
  text-align: center;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=135, Color=#000000)'; /*IE 8*/
  text-shadow: 2px 2px 12px #000000; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=135, Color=#000000); /*IE 5.5-7*/
}

#music h1:after {
  content: '';
  display: block;
  margin: 20px auto;
  width: 75%;
  border-bottom: 1px solid #fff;
}

.video {
  border-radius: 4px;
  overflow: hidden;
  height: 315px;
  -webkit-box-shadow: 0px 13px 24px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 13px 24px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 13px 24px -8px rgba(0, 0, 0, 0.75);
}

iframe {
  height: 100%;
}

#tour {
  background: black;
  position: relative;
  overflow: hidden;
}

.tour-header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: black;
}

.top-img img {
  width: 100%;
  z-index: 100;
}

.tour-dates {
  display: flex;
  justify-content: center;
  padding: 35px 0 80px;
}

.dates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  grid-gap: 40px;
  font-size: 20px;
}

.dates ul li {
  list-style: none;
}

.dates ul:nth-child(1) {
  margin-right: 42px;
}

.dates li span:nth-child(1) {
  display: inline-block;
  width: 75px;
}

.dates li span:nth-child(2) {
  color: rgb(161, 21, 3);
}

.city {
  font-weight: 700;
  text-align: right;
}

footer {
  height: 100px;
  overflow: hidden;
  background: rgb(28, 28, 29);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries */

@media (max-width: 1440px) {
  #bio {
    background: url('img/BioSectionBG.jpg') no-repeat center;
    background-size: cover;
  }
}

@media (min-width: 2000px) {
  .bio-text {
    font-size: 32px;
  }

  .dates {
    font-size: 32px;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1024px) and (max-width: 1280px) {
  .top-img img {
    position: relative;
    right: 125px;
    width: 120%;
  }

  .tour-header img {
    width: 75%;
  }

  .dates {
    padding: 0 50px;
  }

  /* .dates ul:nth-child(3) {
    grid-column: span 2;
  } */
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 769px) and (max-width: 1024px) {
  .logo {
    position: fixed;
    top: 0;
    background: white;
  }

  .logo img {
    height: 75px;
    right: 43%;
    text-align: right;
  }

  nav ul {
    max-height: 0;
    background: #000;
  }

  .black {
    background: #000;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }

  .headline {
    font-size: 2.5rem;
  }

  #bio {
    background: url('img/BioSectionBG.jpg') no-repeat -700px;
    background-size: cover;
  }

  .video-feature {
    padding: 50px 25px 0;
  }

  .top-img img {
    position: relative;
    right: 315px;
    width: 170%;
  }

  .tour-header img {
    width: 70%;
  }

  .tour-dates {
    position: relative;
    right: 0;
  }

  /* .dates ul:nth-child(3) {
    grid-column: span 2;
  } */
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 0.5rem;
  }

  .logo {
    position: fixed;
    top: 0;
    background: white;
  }

  .logo img {
    height: 75px;
    right: 40%;
    text-align: right;
  }

  nav ul {
    max-height: 0;
    background: #000;
  }

  .black {
    background: #000;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }

  #landing {
    background: url('img/HeroSectionBG.png') no-repeat center top;
  }

  .headline {
    font-size: 2rem;
  }

  #bio {
    background: url('img/BioSectionBG.jpg') no-repeat -900px;
  }

  .bio-text {
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 0;
    font-size: 20px;
  }

  .video-feature {
    grid-template-columns: 1fr;
  }

  .video {
    height: 350px;
  }

  .top-img img {
    position: relative;
    right: 55px;
    width: 120%;
  }

  .tour-header img {
    width: 75%;
  }

  .dates {
    padding: 0 95px;
    grid-gap: 10px 0;
    font-size: 1rem;
    grid-template-columns: 1fr;
  }

  .dates ul:nth-child(1) {
    margin-right: 25px;
  }

  .dates li span:nth-child(1) {
    width: 50px;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (max-width: 480px) {
  .logo {
    position: fixed;
    top: 0;
    background: white;
  }

  .logo img {
    height: 75px;
    right: 30%;
    text-align: right;
  }

  nav ul {
    max-height: 0;
    background: #000;
  }

  .black {
    background: #000;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }

  #landing {
    background: url('img/HeroSectionBG.png') no-repeat -875px;
  }

  .headline {
    font-size: 1.2rem;
  }

  #bio {
    background: url('img/BioSectionBG.jpg') no-repeat -1150px;
    height: 800px;
  }

  .bio-text {
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    padding: 0;
    width: 100%;
  }

  .bio-text h1 {
    font-size: 50px;
  }

  .bio-text p {
    padding: 30px 25px;
    font-size: 16px;
  }

  #music {
    background: url('img/AlbumCover_lrg.jpg') no-repeat center center;
    padding: 50px 0;
  }

  #music h1 {
    font-size: 50px;
  }

  #music h1:after {
    width: 45%;
  }

  .video-feature {
    display: block;
    padding: 50px 25px 0;
  }

  .video {
    height: 200px;
    margin-bottom: 25px;
  }

  .top-img img {
    position: relative;
    right: 75px;
    width: 150%;
  }

  .tour-header img {
    width: 90%;
  }

  .dates {
    grid-gap: 10px 0;
    font-size: 1rem;
    grid-template-columns: 1fr;
  }

  .dates ul:nth-child(1) {
    margin-right: 25px;
  }

  .dates li span:nth-child(1) {
    width: 50px;
  }
}
